@import '../../../styles/global.scss';

.roomWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: $base-size * 3 auto;
  padding: $base-size * 2 0 0;
  width: 400px;
  height: 320px;
  border: 4px solid $color-white;
  &:after {
    position: absolute;
    content: 'SCREEN';
    top: -10px;
    width: calc(100% + 8px);
    border: 4px solid $color-white;
    background-color: $color-white;
    color: $color-main-one;
    font-size: $base-size * 1.5;
    font-weight: 700;
    text-align: center;
  }
}