@import '../../../styles/settings.scss';

.main {
  display: block;
  margin: 0 $base-size * 0.5;
  padding: $base-size * 0.5;
  border: 1px solid $color-main-one;
  font-family: $font-main;
  font-size: $base-size * 2;
  color: $color-white;
  text-decoration: none;
  &:hover {
    border: 1px solid $color-main-two;
    box-shadow: $color-main-two 0px 0px 16px;
    cursor: pointer;
    transition: $transition-fast;
  }
}

.small {
  @extend .main;
  padding: $base-size * 0.5;
  font-size: $base-size * 1.4;
}

.big {
  @extend .main;
  padding: $base-size * 0.8;
  font-size: $base-size * 2.4;
}

.linkButton {
  @extend .small;
  background: inherit;
}

.seatButton {
  @extend .big;
  width: 50px;
  text-align: center;
}

