@import '../../../styles/global.scss';

.mainSectionContainer {
  min-height: 300px;
  width: 1200px;
  margin: 10px auto;
  padding: 0;
}

@media (max-width: 1200px) {
  .mainSectionContainer {
    width: 850px;
  }
}

@media (max-width: 992px) {
  .mainSectionContainer {
    width: 100%;
  }
}

// @media (max-width: 768px) {
//   .mainSectionContainer {
//     width: 100%;
//   }
// }

// @media (max-width: 576px) {
//   .mainSectionContainer {
//     width: 100%;
//   }
// }