@import '../../../styles/global.scss';

.postersWrapper_Home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: $base-size * 0.5;
}

.postersWrapper_Movies {
  display: block;
  margin: 0;
  padding: $base-size * 0.5 $base-size * 2;
}

.postersContainer {
  display: flex;
}

// @media (max-width: 1200px) {
// }

// @media (max-width: 992px) {
// }

@media (max-width: 768px) {
  .postersContainer {
    flex-direction: column;
  }
}

// @media (max-width: 576px) {
// }