$color-light: #fff;
$color-dark: #141820;
$color-black: black;
$color-white: white;
$color-main-one: #fa247d;
$color-main-two: #d6b834;

$font-text: 'Poppins', sans-serif;
$font-main: 'Pathway Gothic One', sans-serif;

$radius: 5px;
$base-size: 10px;

$transition-fast: all 0.3s;
$transition-mid: all 0.5s;
$transition-slow: all 1s;