@import './settings.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}