@import '../../../styles/global.scss';

.menuWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: $base-size * 0.5;
}

.menuButton {
  display: none;
}

.menuActive {
  display: block;
}

@media (max-width: 768px) {
  .menuWrapper {
    justify-content: center;
  }
}
