@import '../../../styles/global.scss';

.seat {
  margin: 0 0 10px;
}

.seatClicked {
  font-weight: 900;
  color: $color-dark;
  background-color: $color-main-two;
}

.seatBooked {
  font-weight: 900;
  color: $color-dark;
  background-color: $color-main-one;
}
