@import '../../../styles/global.scss';

.book {
  margin: 30px auto 0;
  width: 50%;
  text-align: center;
}

.dayClicked {
  font-weight: 900;
  color: $color-dark;
  background-color: $color-main-two;
}
