@import '../../../styles/global.scss';

.seatsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: $base-size * 2 0;
  padding: $base-size * 1 $base-size * 2;
  //border: 3px solid $color-white;
}

// @media (max-width: 1200px) {
// }

// @media (max-width: 992px) {
// }

// @media (max-width: 768px) {
// }

// @media (max-width: 576px) {
// }