@import '../../../styles/global.scss';

.day {
  margin: 0 0 10px;
}

.dayClicked {
  font-weight: 900;
  color: $color-dark;
  background-color: $color-main-two;
}

// @media (max-width: 1200px) {
// }

// @media (max-width: 992px) {
// }

// @media (max-width: 768px) {
// }

// @media (max-width: 576px) {
// }